#header {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
	background:radial-gradient(#77d19e,#46c17b);
    padding: 0;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
}

body
{ 
background: #F0FFF0;
font: 12px "Lucida Grande","Lucida Sans Unicode"; 
}
aside
{
	position: absolute;
	right: 0px;
}
ul {
	padding:0;
	margin: 0 0 20px 0;
	list-style:none;
}
h1, h2 {
	padding:0;
	margin: 0 0 20px 0;
	font-weight: normal;
	color:#000000;
}
p {
	padding:0;
	margin: 0 0 20px 0;
}
a:link, a:visited {
	text-decoration: none;
	color:#000000;

}
a:hover {
	text-decoration: none;
}
ul li {
	padding: 5px 0;
	font-size: 18px
}
ul li input[type="text"], ul li input[type="password"] {
	width:200px;
}
#login li.link {
	margin-top: 5px;
}

